{% extends 'base.html' %}

{% block content%}
<section class = 'container-fluid'>
    <nav class="navbar">
        <h5 class = 'h5 card-title table-primary '>Mis partidas Recibas </h5>
        <br><br>
        <link rel="'stylesheet" href="/static/styles.css">

    </nav>
     <table class="table table-sm">
        <thead>

            <tr class="table-active">
                <th class ='col'> Tus retos</th>
                <th class ='col'> Retador</th>
                <th class ='col' colspan="2"> Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for partida in partidas_recibidas %}
            {% set creador = User.query.filter_by(id=partida.created_by).first().username %}
            {% set famosos = json.loads(partida.famosos)%}
             <tr>
                    <td>
                        {% for famoso in famosos %}
                        <span> {{famoso.0 | capitalize }}</span>
                        {% endfor %}
                    </td>
                    <td>{{creador | capitalize}}</td>
                 <td>
                    <a href="{{url_for('todo.partida', id= partida.id)}} " class = 'btn btn-success'>Vota</a>
                </td>

             </tr>
            {% endfor %}
     </tbody>
     </table>
</section>
<section class = 'container-fluid'>
    <nav class="navbar">
        <h5 class = 'h5 card-title table-info '> Mis partidas Enviadas</h5>
        <link rel="'stylesheet" href="/static/styles.css">

    </nav>
     <table class="table table-sm">
        <thead>

            <tr class="table-active">
                <th class ='col'> Lista de Famosos</th>
                <th class ='col'> Retado</th>
                <th class ='col' colspan="2"> Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for partida in partidas_enviadas %}
            {% set retado = User.query.filter_by(id=partida.retados).first().username %}
            {% set famosos = json.loads(partida.famosos)%}
             <tr>
                    <td>
                        {% for famoso in famosos %}
                        <span> {{famoso.0 | capitalize }}</span>
                        {% endfor %}
                    </td>
                    <td>{{retado | capitalize}}</td>
                 <td>
                     {% set votos = json.loads(partida.votos)%}
                     {% set famosos = json.loads(partida.famosos)%}
                     {%  if len(votos) >0 and len(votos) >= len(famosos)-1: %}
                    <a href="{{url_for('todo.partida', id= partida.id)}} " class = 'btn btn-success'>Ver Resultados</a>
                     {%else%}
                     <span> Partida no finalizada</span>
                     {%endif%}
                </td>

             </tr>
            {% endfor %}
     </tbody>
     </table>
</section>
{%endblock%}